* {
  box-sizing: border-box;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: beige;
  color: maroon;
}
header {
  background-color: aqua;
  justify-content: space-around;
  display: flex;
  font-size: 25px;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: 600;
    a {
      font-size: 20px;
      text-decoration: none;
      color: maroon;
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 4rem;
      top: 2rem;
    }
  }
}
footer {
  background-color: maroon;
  color: beige;
  padding: 1rem;
}
header,
footer {
  border-radius: 1rem;
}
